html {
  scroll-behavior: smooth;
}

body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.banner {
    height: 320px;
    overflow: hidden;
    position: relative;

}

.bg-color {
    background-color: rgba(20, 20, 23, 0.893);
}

.txtShadow {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
} 
.txtbright{
    text-shadow: 3px 3px 6px rgb(253, 251, 251);
}

.color {
    background-color: rgb(36, 40, 42);
}


.banner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(60%);
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-img-top {

    width: auto;
    height: 20rem;
    object-fit: cover;

}
.social-icon {
  font-size: 30px;      
  color: #555;          
  margin-right: 15px;   
  text-decoration: none;
}

.social-icon:hover {
  color: #0d6efd;  
}     